<!DOCTYPE html>
<html>
    <head>
        <title>Yafs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/favicon.png">
    </head>
    <body>

        <!-- Header start -->
        
        <!-- Header ends -->
        
        
        <!--{$content}-->


        <footer>
            <small>&#169; 2016 Yafs - All Rights Reserved.</small>
        </footer>

        <!-- footer start -->
        <!-- footer ends -->

    </body>
</html>